/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap&family=DM+Serif+Display:ital@1&family=IBM+Plex+Sans+KR:wght@200&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital@1&display=swap');

body {
    background-color: white;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
div.container {
    color: black;
    /* text-align: left; */
}

div.menubar {
	width: 1780px;
	margin: 0 auto;
	margin-bottom: 70px;
}
header {
	font-family: 'DM Serif Display', serif;
    /* width: 100; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > h2 {
	margin-left: 10px;
	text-align: left;
}
header > nav {
	width: 500px;
	height: 100%;
	margin-right: 10px;
	text-align: right;
}
header ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
header ul > li {
	font-size: 18px;
	height: 100%;
	display: flex;
	align-items: center;
}

div.content {
	height: 700px;
}
section#area1 {
	width: 800px;
	padding: 50px;
	font-family: 'Gowun Dodum', sans-serif;
}
section#area2 {
	width: 800px;
	padding: 50px;
	font-family: 'Gowun Dodum', sans-serif;
}
section#area3 {
	width: 800px;
	padding: 50px;
	font-family: 'Gowun Dodum', sans-serif;
}
ul.dot2 {
    color: black;
    list-style-type: none;
}

footer { 
	display: flex;
	font-family: "Gowun Batang", serif;
    margin: 5px; 
    padding: 8px; 
    /* width: 1000px;  */
    height: 50px; 
    clear: both;
}

a.menu:link { color:green; background-color:transparent; text-decoration:none; }
a.menu:visited { color:green; background-color:transparent; text-decoration:none; }
a.menu:hover { color:green; background-color:transparent; text-decoration:underline; }
