/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap&family=DM+Serif+Display:ital@1&family=IBM+Plex+Sans+KR:wght@200&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital@1&display=swap');

body {
    background-color: white;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

header, section#box {
    border: 1px solid lightgray;
    margin:5px; 
    padding:8px; 
    width:1000px;
}

footer { 
    margin:5px; 
    padding:8px; 
    width:1000px; 
}

section.area1 { 
  width:600px;
  float:center; 
}

ul.dot2 {
    color: black;
    list-style-type: none;
    display:inline;
    float:right; 
    margin:20px 0 0 0;
}

footer { 
  height:50px; clear:both; 
}
a:link { color:black; background-color:transparent; text-decoration:none; }
a:visited { color:black; background-color:transparent; text-decoration:none; }
a:hover { color:black; background-color:transparent; text-decoration:underline; }
