/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap&family=DM+Serif+Display:ital@1&family=IBM+Plex+Sans+KR:wght@200&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital@1&display=swap');

body {
    /* background-image: linear-gradient(90deg, black 50%, lightgray 50%); */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.container {
    color: black;
    width: 1200px; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    text-align: center;
}

div#top.group {
    float: top;
}
div#top details {
    height: auto;
    max-height: 480px;
    overflow: hidden;
    transition: max-height 400ms ease-out;
}
div#top summary {
    font-size: 40px;
    font-weight: 500;
    list-style-type: none;
}
/* Safari와 Chrome에서 기본 제공되는 화살표 제거 */
details summary::-webkit-details-marker {
  display: none;
} 
/* Firefox에서 기본 제공되는 화살표 제거 */
details[open] summary::marker {
  display: none;
}
p.font1 {
    font-family: "Gowun Batang", serif;
    font-size: 20px;
}
p.font2 {
    font-family: "Gowun Batang", serif;
    font-style: italic;
    font-size: 35px;
    font-weight: 300;
}
nav {
    letter-spacing: 2px;
}

p.menu {
    margin-top: 80px;
    font-family: "Gowun Batang", serif;
    font-size: 23px;
    letter-spacing: 2px;
    color: dimgrey;
}
ul {
    margin-top: 150px;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    color: black;
    font-size: 23px;
    padding: 0;
}
ul li {
    margin-right: 50px;
    margin-left: 50px;
    display: inline-block;
    text-align:center;
}
.menu .bar { 
    display:none; 
    position:absolute; 
    left:0; 
    right:0; 
    text-align:center; 
}
.menu .bar a { 
    display:block; 
    padding:5px; 
    background:#666; 
    color:#fff; 
}
.menu > li > a {
    display:block; 
    padding:0 15px; 
    background:#333; 
    height:40px; 
    line-height:40px; 
    color:#fff;
}
ul > li { 
    position:relative; 
}
li.item1 {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
li.item2 {
    font-family: 'Playfair Display', serif;
}
li.item3 {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
li.item4 {
    font-family: 'DM Serif Display', serif;
}

div#top summary:hover { color:green; background-color:transparent; text-decoration:underline; }
p.menu:.menu:after { display:block; content:''; clear:both; }
ul > li:hover { display:block; }

a:link { color:green; background-color:transparent; text-decoration:none; }
a:visited { color:green; background-color:transparent; text-decoration:none; }
a:hover { color:green; background-color:transparent; text-decoration:underline; }
