/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap&family=DM+Serif+Display:ital@1&family=IBM+Plex+Sans+KR:wght@200&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital@1&display=swap');

body {
    /* background-image: linear-gradient(90deg, black 50%, lightgray 50%); */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.container {
    color: black;
    /* height:500px; */
    margin-top: 200px;
    margin-top: 200px;
    text-align: center;
}

div#top.group {
    float: top;
}
li.font2 {
    font-size: 38px;
    font-weight: 100;
}
li.font1 {
    font-size: 25px;
}

div#bottom.group {
    margin-top: 100px;
}

nav {
    font-family: 'Gowun Dodum', sans-serif;
    letter-spacing: 2px;
}
section {
    font-size: 10px;
    letter-spacing: 2px;
}

/* aside.font2 {
    text-align: justify;
    letter-spacing: -1px;
    font-size: 38px;
} */
ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: justify;
    color: black;
    font-size: 25px;
}
li.item1 {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
li.item2 {
    font-family: 'Playfair Display', serif;
}
li.item3 {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
li.item4 {
    font-family: 'DM Serif Display', serif;
}

a:link { color:white; background-color:transparent; text-decoration:none; }
a:visited { color:white; background-color:transparent; text-decoration:none; }
a:hover { color:white; background-color:transparent; text-decoration:underline; }
