/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
div.container1 {
    float:left;
    background-color: lightgray;
    width:47%;
}
div.container2 {
    float:right;
    background-color: black;
    width:53%;
}
section#left {
    margin-top: 300px;
    margin-bottom: 200px;
}
section#right {
    font-family: 'Gowun Dodum', sans-serif;
    margin: 300px;
}
nav.font1 {
    color: white;
    font-family: 'Gowun Dodum', sans-serif;
    text-align: justify;
    letter-spacing: 2px
}
aside.font2 {
    color: white;
    font-family: 'Gowun Dodum', sans-serif;
    text-align: justify;
    letter-spacing: -1px;
    font-size: 40px;
}
