/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap&family=DM+Serif+Display:ital@1&family=IBM+Plex+Sans+KR:wght@200&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital@1&display=swap');

body {
    /* background-image: linear-gradient(90deg, black 50%, lightgray 50%); */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.container {
    color: black;
    width: 1200px; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    text-align: center;
}

div#top.group {
    float: top;
    position: relative;
    display: inline-block;
}
.dropdown {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    font-weight: 500;
}
.dropdown:hover, .dropbtn:focus {
  background-color: #2980B9;
}
p.font1 {
    font-family: "Gowun Batang", serif;
    font-size: 20px;
    text-decoration: none;
    display: block;
}
div#myDropdown {
    letter-spacing: 2px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display:block;
}

section {
    margin-top: 80px;
    font-family: "Gowun Batang", serif;
    font-size: 23px;
    letter-spacing: 2px;
    color: dimgrey;
}


div#bottom.group {
    margin-top: 150px;
}
ul {
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    color: black;
    font-size: 23px;
    padding: 0;
}
ul li {
    margin-right: 50px;
    margin-left: 50px;
    display: inline-block;
    text-align:center;
}
li.item1 {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
li.item2 {
    font-family: 'Playfair Display', serif;
}
li.item3 {
    font-family: 'IBM Plex Sans KR', sans-serif;
}
li.item4 {
    font-family: 'DM Serif Display', serif;
}

a:link { color:green; background-color:transparent; text-decoration:none; }
a:visited { color:green; background-color:transparent; text-decoration:none; }
a:hover { color:green; background-color:transparent; text-decoration:underline; }
