/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap&family=DM+Serif+Display:ital@1&family=IBM+Plex+Sans+KR:wght@200&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital@1&display=swap');

body {
    background-color: white;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.menubar {
	width: 1780px;
	margin: 0 auto;
	margin-bottom: 50px;
}
header {
	font-family: 'DM Serif Display', serif;
    /* width: 100; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > h2 {
	margin-left: 10px;
	text-align: left;
}
header > nav {
	width: 500px;
	height: 100%;
	margin-right: 10px;
	text-align: right;
}
header ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
header ul > li {
	font-size: 18px;
	height: 100%;
	display: flex;
	align-items: center;
}
ul.dot2 {
    list-style-type: none;
}

section#area1 {
	width: 800px;
	padding: 50px;
	font-family: 'Gowun Dodum', sans-serif;
}
section#area2 {
	width: 800px;
	padding: 50px;
	font-family: 'Gowun Dodum', sans-serif;
}
section#area3 {
	width: 800px;
	padding: 50px;
	font-family: 'Gowun Dodum', sans-serif;
}
img {
	width: 440px;
	height: 230px;
}
p.text-2 {
	font-size: 17px;
	font-weight: bold;
}
a.img-tooltip {
	width: 440px;
	position: relative;
    display: inline-block;
	align-items: center;
}
a.img-tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: calc(100% + 16px);
    transform: translateY(-70%);

    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.25s ease;
    z-index: 10;
}
a.img-tooltip::before {
    content: "";
    position: absolute;
    top: 100%;
	left: calc(100%+ 10px);
    transform: translateX(-70%);

	border-width: 6px;
	border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;

    opacity: 0;
	pointer-events: none;
    transition: opacity 0.25s ease;
}
a.img-tooltip:hover::after,
a.img-tooltip:hover::before {
    opacity: 1;
}

ul.dot2 {
    color: black;
    list-style-type: none;
}

footer { 
	display: flex;
	font-family: "Gowun Batang", serif;
	font-size: 15px;
    margin: 5px; 
    padding: 8px; 
    /* width: 1000px;  */
    height: 50px; 
    clear: both;
}

a:link { color:black; background-color:transparent; text-decoration:none; }
a:visited { color:black; background-color:transparent; text-decoration:none; }
a.menu:hover { color:green; background-color:transparent; text-decoration:underline; }
